/* Header Styles */
@font-face {
    font-family: "Impact", sans-serif;
    src: url("/fonts/impact.ttf");
  }
  
  h1,
  h2 {
    font-family: "Impact", sans-serif;
  }
  
  .navbar {
    font-family: "Impact", sans-serif;
    font-size: 20px;
    padding: 0;
  }
  
  .nav-item {
    padding: 0px 20px;
    line-height: 2.5;
  }
  
  .nav-item:hover {
    background: #fec32b;
  }
  
  .bg-dark {
    background: black !important;
  }
  
  .bg-acceso {
    background: #fec32b !important;
  }
  
  .bg-acceso a {
    color: black !important;
  }
  
  /* Responsiveness */
  @media (max-width: 576px) {
    .navbar {
      font-size: 16px;
    }
    .nav-item {
      padding: 0px 10px;
      line-height: 2;
    }
    .navbar-brand img {
      width: 120px;
      height: auto;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .navbar {
      font-size: 18px;
    }
  }
  