<head>
  <!-- GOOGLE WEB FONT -->
  <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <link href="../../vendor/dropzone.css" rel="stylesheet">
  <link href="../../css/date_picker.css" rel="stylesheet">
  <link href="../../css/admin.css" rel="stylesheet">
  <link href="../../css/custom.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation -->
  <nav>
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Agregar catalogo</li>
        </ol>
        
        <!-- Box General -->
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-file"></i>Información Básica</h2>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Datos del proyecto</label>
                <input
                type="text"
                id="nombre"
                class="form-control"
                [(ngModel)]="newCatalogo.nombre"
                name="nombre"
                placeholder="Nombre del proyecto"
                required
              />
              </div>
            </div>
          </div>
        </div>
        <!-- /Box General-->
        
        <!-- Box General for Description -->
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-file-text"></i>Descripción</h2>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Descripción del proyecto</label>
                <textarea
                  id="descripcion"
                  class="form-control"
                  [(ngModel)]="newCatalogo.descripcion"
                  name="descripcion"
                  placeholder="Description del proyecto"
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <!-- /row-->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Categoria <a href="#0" data-toggle="tooltip" data-placement="top" title="Separated by commas"><i class="fa fa-fw fa-question-circle"></i></a></label>
                <input
                type="text"
                id="nombre"
                class="form-control"
                [(ngModel)]="newCatalogo.tipo"
                name="nombre"
                placeholder="Tipo de proyecto"
                required
                />
              </div>
            </div>
          </div>
          <!-- /row-->
        </div>
        <!-- /Box General-->
        
        <!-- Box General for Images -->
        <div class="box_general padding_bottom">
          <div class="header_box version_2">
            <h2><i class="fa fa-camera"></i>Imagenes</h2>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label>Datos de la imagen principal</label>
                <input
                  type="text"
                  id="imagen"
                  class="form-control"
                  [(ngModel)]="newCatalogo.imagen"
                  placeholder="Ingrese la ruta de la imagen principal"
                  name="imagen"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h6>Datos de la imagen</h6>
              <table id="pricing-list-container" style="width:100%;">
                <tr class="pricing-list-item">
                  <td>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <!-- Flata añadir-->
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="newImgAdicional.descripcion_imagen"
                            name="imagenesAdicionales"
                            placeholder="Falta incluir en el dto o verificar"
                          />
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="newImgAdicional.ruta_imagen"
                          name="imagenesAdicionales"
                          placeholder="Ingrese la ruta de la iamgen adicional"
                        />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <a class="delete" href="#"><i class="fa fa-fw fa-remove"></i></a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <a href="#0" class="btn_1 gray add-pricing-list-item"><i class="fa fa-fw fa-plus-circle"></i> Agregar Imagen</a>
            </div>
          </div>
          <!-- /row-->
        </div>
        <!-- /Box General-->
        
        <!-- Save Button -->
        <p><a href="#0" class="btn_1 medium">Guardar</a></p>
      </div>
      <!-- /.container-fluid-->
    </div>
  </nav>

  <!-- container-wrapper -->
</body>
