<!-- Mostrar mensaje de error si existe -->
<div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>
  
  <!-- Mostrar lista de catálogos si existen -->
  <div *ngIf="catalogos.length > 0">
    <h2>Catálogos:</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Descripción</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catalogo of catalogos">
          <td>{{ catalogo.nombre }}</td>
          <td>{{ catalogo.tipo }}</td>
          <td>{{ catalogo.descripcion }}</td>
          <td>{{ catalogo.imagen }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Si no hay catálogos disponibles y no hay mensaje de error -->
  <div *ngIf="catalogos.length === 0 && !errorMessage">
    <p>No hay catálogos disponibles.</p>
  </div>
  