<!-- <app-header></app-header> --> 
<main>
  <router-outlet></router-outlet>

  <!-- USUARIO VISITANTE-->
   <app-catalogo-user></app-catalogo-user> -->



  <!-- <app-project>Content Projects</app-project> -->

 <!-- USER -->
 <app-create-user></app-create-user>

 <!-- LOGIN -->
 <app-login></app-login> -->

  <!-- ADMINISTRADOR-->
  <!-- Muestra el formulario para crear catalogos-->
  <app-crear-catalogo></app-crear-catalogo> -->
  <!-- Muestra la lista de catalogos con sus metodos de eliminar y actulizar-->
   <app-catalogo-admin></app-catalogo-admin> -->

-
</main>
 <app-footer></app-footer> 
