  <!-- <app-header></app-header>  -->
<main>

  <!-- <app-main-page></app-main-page>  -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-catalogo-user></app-catalogo-user> -->


  <!-- <app-project>Content Projects</app-project> -->
  <!-- <app-catalogo-admin></app-catalogo-admin> -->
  <!-- -->

  <!-- Componenetes Administrador-->
  
  <app-head></app-head> 

    <!-- <app-catalogo-list></app-catalogo-list> -->
   <app-add-listing></app-add-listing> 
  
  <app-footerAdmin></app-footerAdmin>

</main>

  <!-- <app-footer></app-footer> -->