/* Footer Styles */
.footer {
  font-family: "Impact", sans-serif;
  background: black; /* Fondo oscuro */
  color: white; /* Texto en blanco */
  padding: 1rem 0; /* Espaciado vertical */
  border-top: 2px solid #FEC32B; /* Línea de separación con color de marca */
  text-align: center;
}

.footer p {
  font-size: 14px; /* Texto pequeño */
  margin: 0;
}

/* Responsivo */
@media (max-width: 576px) {
  .footer p {
      font-size: 12px; /* Ajusta el tamaño en dispositivos pequeños */
  }
}
