<footer class="nist-footer">
  <div class="nist-footer__inner">
    <div class="nist-footer__menu" role="navigation">
      <ul>
        <li class="nist-footer__menu-item">
          <a href="https://www.facebook.com/TuPagina" target="_blank">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li class="nist-footer__menu-item">
          <a href="https://twitter.com/TuPagina" target="_blank">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
        <li class="nist-footer__menu-item">
          <a href="https://www.instagram.com/TuPagina" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li class="nist-footer__menu-item">
          <a href="https://wa.me/1234567890" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nist-footer__logo">

  </div>
</footer>

<!-- Agregar Font Awesome para los íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
