<!-- Mostrar mensaje de error si existe -->
<div *ngIf="errorMessage" class="error">
  <p>{{ errorMessage }}</p>
</div>

<!-- Mostrar lista de catálogos -->
<div class="catalogo-container">
  <div class="catalogo-card" *ngFor="let catalogo of visibleCatalogos">
    <img [src]="catalogo.imagen" alt="{{ catalogo.nombre }}" />
    <h3>{{ catalogo.nombre }}</h3>
    <p>{{ catalogo.descripcion }}</p>
    
    <!-- Botón para mostrar más detalles de un catálogo específico -->
    <button class="btn-ver-mas-card" (click)="toggleImagenesAdicionales(catalogo)">
      {{ catalogo.mostrarImagenesAdicionales ? 'VER MENOS' : 'VER MÁS' }}
    </button>

    <!-- Mostrar imágenes adicionales solo si el flag es true -->
    <div *ngIf="catalogo.mostrarImagenesAdicionales" class="imagenes-adicionales">
      <h4>Imágenes Adicionales</h4>
      <div *ngFor="let imagen of catalogo.imagenesAdicionales">
        <img [src]="getImagePath(imagen.ruta_imagen)" alt="{{ imagen.descripcion_imagen }}" />
        <p>{{ imagen.descripcion_imagen }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Botón para mostrar más catálogos -->
<div class="contenedor-boton">
  <button class="btn-ver-mas-principal" (click)="toggleMostrarTodo()">
    {{ mostrarTodo ? 'VER MENOS' : 'VER MÁS' }}
  </button>
</div>

<!-- Si no hay catálogos disponibles y no hay mensaje de error -->
<div *ngIf="catalogos.length === 0 && !errorMessage">
  <p>No hay catálogos disponibles.</p>
</div>
